:root {
    --primary-color: #222831;
    --secondary-color: #393e46;
    --accent-color: #eeeeee;
    --text-color: #f4f4f4;
    --text-secondary-color: #ced4da;
    --border-color: #393e46;
    --dot-bg: rgb(12, 12, 12);
    --dot-color: rgba(255, 255, 255, 0.806);
    --dot-size: 1px;
    --dot-space: 35px;
    --font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
    text-align: center;
    color: var(--text-color);
}

main {
    flex: 1;
    /* Allows the main content to grow and take up available space */
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    padding: 30px 0px;
}

h1.title {
    font-size: 48px;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.game-info {
    font-size: 32px;
    margin-bottom: 10px;
}

.game-message {
    font-size: 20px;
    padding: 5px 16px;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.79);
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}

.score-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

.choice {
    font-size: 48px;
}

.score {
    font-size: 20px;
    font-weight: 500;
}

.choices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.btn-choice {
    padding: 10px;
    font-size: 80px;
    width: 150px;
    height: 150px;
    transition: all 0.5s ease;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1.5px solid rgba(255, 255, 255, 0.79);
}

.btn-choice:hover {
    background: rgba(98, 98, 98, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(98, 98, 98, 0.79);
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
}

.fa-github {
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}


/* ... MODAL ... */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.show,
.overlay.show {
    opacity: 1;
    visibility: visible;
}

.modal-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(52, 52, 52, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(52, 52, 52, 0.3);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.modal-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.modal-message {
    font-size: 20px;
    padding: 10px 16px;
    margin-bottom: 20px;
}

.btn-restart {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.79);
    transition: background 0.3s ease;
}

.btn-restart:hover {
    background: rgba(98, 98, 98, 0.25);
    border: 1px solid rgba(98, 98, 98, 0.79);
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Media Queries */
@media (max-width: 550px) {
    .title {
        font-size: 24px;
    }

    .game-info {
        font-size: 24px;
    }

    .game-message {
        font-size: 18px;
    }

    .choices {
        flex-wrap: wrap;
    }

    .btn-choice {
        gap: 10px;
    }

    .player-choice,
    .computer-choice {
        font-size: 40px;
    }

    .modal-card {
        padding: 15px;
        width: 90%;
    }

    .modal-card img {
        width: 80px;
        height: 80px;
    }

    .modal-message {
        font-size: 18px;
    }

    .btn-restart {
        padding: 8px 16px;
        font-size: 14px;
    }
}